@import '../../style/index';

.rowList {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-bottom: 2rem;

	@media (max-width: @small) {
		flex-wrap: wrap;
	}
}
