@import '~style/helpers';

.heroSpace {
	height: 45vh;
	position: relative;

	> img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.heroMessaging {
		position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;

		h1 {
			display: inline;
			margin-left: 1rem
		}

		img {
			vertical-align: text-bottom;
		}
	}
}
