@import '~style/helpers';

.whyUsListItem {
  width: 23vw;
  padding: 1vw;
  margin: 1rem;

  @media (max-width: @small) {
    width: 90%;
	}

  img {
    object-fit: contain;
    height: 80%;
    width: 80%;
    display: block;
    margin: auto;

    @media (max-width: @small) {
      width: 60%;
      heigh: 60%;
  	}
  }
}
