@import '~style/helpers';

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: @nav-bar-height;
	line-height: @nav-bar-height;
	padding: 0;
	z-index: 50;
	transition: all .25s ease;
  transform: translateZ(0);

	&.scrolled {
		background: white;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

		img {
			filter: invert(80%);
		}

		button {
			color: @default-font-color;
			border: solid @default-font-color 1px;
		}
	}

	@media (min-width: @nav-bar-mobile-breakpoint) {
		&.scrolled {
			a {
				color: @default-font-color;
			}
		}
	}

	@media (max-width: @nav-bar-mobile-breakpoint) {
		overflow: hidden;

		&.open {
			background: #222;
			height: 100%;
			// Was causing nav to shake on mobile expansion. Commenting out fixed it
			// overflow: auto;
			overflow-scrolling: touch;

			// nav {
			// 	margin-right: 0;
			// }

			img {
				filter: none;
			}

			button {
				border: solid white 1px;
				color: white;
			}
		}
	}

	img {
		padding: 0 1.5rem;
		width: 9rem;
		vertical-align: middle;
	}

	nav {
		position: absolute;
		display: inline-block;
		right: 1rem;
		font-size: 100%;
		// padding-left: 1.5rem;
		@media (max-width: @nav-bar-mobile-breakpoint) {
			display: block;
			position: static;
			right: initial;
			// margin-top: @header-height;
			// padding-left: 0;
			// margin-right: 100px;
		}

		a {
			display: inline-block;
			height: @nav-bar-height;
			line-height: @nav-bar-height;
			padding: 0 15px;
			min-width: 50px;
			text-align: center;
			background: rgba(255,255,255,0);
			text-decoration: none;
			color: #EEE;
			// will-change: background-color;
			//
			// &:hover, &:active {
			// 	background: rgba(255,255,255,0.3);
			// }
			//
			// &.active {
			// 	background: rgba(255,255,255,0.4);
			// }
			@media (max-width: @nav-bar-mobile-breakpoint) {
				display: block;
			}
		}

		button {
			// HACK: Idk why it keeps extending to the height of the parent element
			font: icon;
			font-size: 20px;

			margin-left: .5rem;
			transform: inherit;
			top: initial;
			border: solid white 1px;
			background-color: transparent;
			color: white;

			@media (max-width: @nav-bar-mobile-breakpoint) {
				position: absolute;
			  top: 1rem;
			  right: 3.5rem;
			}
		}
	}
}

// hamburgler menu
.hamburgler {
	display: none;
	position: absolute;
	box-sizing: initial;
	right: 0;
	top: 0;
	margin: 10px;
	width: 20px;
	height: 20px;
	padding: 18px 15px 12px;
	line-height: @nav-bar-height;
	text-align: center;
	z-index: 100;
	opacity: 0.7;
	cursor: pointer;
	transition: opacity 250ms ease;

	&:hover {
		opacity: 1;
	}
	@media (max-width: @nav-bar-mobile-breakpoint) {
		display: block;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		transform-origin: center;
		background: rgba(255,255,255,0.2);
		transform: scale(0);
	}

	&:active:before {
		animation: pop 200ms forwards cubic-bezier(.15,1.05,.54,1.29) 1;
	}
	@keyframes pop {
		to {
			transform: scale(1);
		}
	}

	.hb1,
	.hb2,
	.hb3 {
		position: relative;
		width: 20px;
		height: 3px;
		border-width: 1px 0;
		margin: 0 auto 3px;
		padding: 0;
		background: #FFF;
		border-radius: 1px;
		font-size: 1px;
		transition: all 200ms ease;
		transform-origin: 0 0;
	}

	&.scrolled {
		.hb1,
		.hb2,
		.hb3 {
			background: @default-font-color;
		}
	}

	&[open] {
		.hb1, .hb2, .hb3 {
			background: white;
		}

		.hb1 {
			transform: translate(4px,-1px) rotate(45deg);
		}

		.hb2 {
			opacity: 0;
		}

		.hb3 {
			transform: translate(2px,1px) rotate(-45deg);
		}
	}
}
