// @import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');
// @import "~roboto-fontface/css/roboto/less/roboto-fontface-black.less";
@import "~bootstrap/dist/css/bootstrap.min.css";
@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Roboto';
	font-weight: 400;
	// color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
