@import url('https://fonts.googleapis.com/css?family=Bitter|Lato|Merriweather|Roboto+Slab|Titillium+Web:200');
@import 'helpers';

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	color: #333;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	line-height: 32.36px;
	font-weight: 400;
	// color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4 {
	font-family: 'Bitter', serif;
	line-height: normal;
}

section {
	max-width: 1618px;
}

h1 {
	// Testing this out but may change
	margin-top: 0;
	font-size: 2rem;
}

h1 {

}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
