@import '~style/index';

.productTiles {
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 1rem 0;

  @media (max-width: @small) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
	}
}
