@import '~style/helpers';

.section {
  padding: 1rem 2rem;
  min-height: @section-min-height;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  @media (max-width: @x-small) {
    padding: .1rem 1rem;
  }
}
